<!DOCTYPE html>
<html>
<head>
    <title>Silver Monitor {{.Type}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="/static/js/echarts.common.min.js"></script>
    <script src="/static/js/monitor.charts.js"></script>
    <script>
        window.onload = function () {
            var date = [];
            var data = [];
            {{range $i, $v := .LogData}}
            date.push({{$v.Date}});
            data.push({{$v.Price}});
            {{end}}
            showChart(date, data);
        }
    </script>
</head>

<body>
<div id="main" style="width:100%;height:800px;"></div>
</body>
</html>