<!DOCTYPE html>
<html>
<head>
    <title>Silver Monitor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="/statics/js/echarts.common.min.js"></script>
    <script src="/statics/js/monitor.charts.js"></script>
    <script>
        window.onload = function () {
            //showChart();
        }
    </script>
</head>

<body>
<div id="main" style="width:100%;height:760px;">
    {{.Type}}
</div>
</body>
</html>